{{- if and .Values.git_upload.enabled ( eq .Values.use_case.updatePartnersInfo.enabled false) }}
{{- $nodeAddressValue := ""}}
{{- $enodeValue := "" }}
{{- if .Values.use_case.newNetwork.enabled }}
{{- $generatedPublicJson := .Files.Get "new-network.plugin.json" | fromJson }}
{{- $nodeAddressValue = $generatedPublicJson.nodeAddress }}
{{- $enodeValue = $generatedPublicJson.enode }}
{{- else }}
{{- $generatedPublicJson := .Files.Get "join-network.plugin.json" | fromJson }}
{{- $nodeAddressValue = $generatedPublicJson.nodeAddress }}
{{- $enodeValue = $generatedPublicJson.enode }}
{{- end }}
apiVersion: batch/v1
kind: Job
metadata:
  name: quorum-git-post-install
  namespace: {{ default .Release.Namespace }}
  labels:
    app: quorum-git-post-install
  annotations:
    "helm.sh/hook": post-install, post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation, hook-succeeded
spec:
  template:
    spec:
      containers:
        - name: quorum-git-post-install
          imagePullPolicy: IfNotPresent
          image: alpine/git:v2.32.0
          command: [ "sh" ]
          args:
            - "-cx"
            - "
            git config --global user.email \"{{ .Values.git_upload.email }}\";
            git config --global user.name \"{{ .Values.git_upload.user }}\";
            {{- $storagepath :=  printf "%s/%s/%s" .Values.git_upload.git_repo_storage_path .Values.deployment.network_name .Values.deployment.company }}

            {{- $validatorAddress := printf "%s/%s" $storagepath .Values.git_upload.validator_file_name }}
            {{- $enode := printf "%s/%s" $storagepath  .Values.git_upload.enode_file_name }}
            {{- $enodeip := printf "%s/%s" $storagepath .Values.git_upload.enode_ip_file_name }}
            {{- $enodeport := printf "%s/%s" $storagepath .Values.git_upload.enode_ip_port_file_name }}

            git clone {{ .Values.git_upload.git_repo_with_access_token }} {{ .Values.git_upload.git_repo_clone_directory }};
            cd {{ .Values.git_upload.git_repo_clone_directory }}/;
            mkdir -p {{ $storagepath }};

            rm -f {{ $validatorAddress }};
            rm -f {{ $enode }};
            rm -f {{ $enodeip }};
            rm -f {{ $enodeport }};

            {{- if .Values.use_case.newNetwork.enabled }}
            {{- $genesisfile := printf "%s/%s" $storagepath .Values.git_upload.genesis_file_name }}
            rm -f {{ $genesisfile }};
            cat /etc/quorum/genesis/genesis-geth.json > {{ $genesisfile }};
            git add {{ $genesisfile }};
            {{- end }}
            echo {{ $nodeAddressValue }} > {{ $validatorAddress }};
            git add {{ $validatorAddress }};
            echo {{ $enodeValue }} > {{ $enode }};
            git add {{ $enode }};
            echo {{ .Values.deployment.enode_ip }} > {{ $enodeip }};
            git add {{ $enodeip }};
            echo {{ .Values.deployment.enode_ip_port }} > {{ $enodeport }};
            git add {{ $enodeport }};

            git commit -m \"{{ .Values.git_upload.git_commit_description }}\";
            git push origin master;
            "
          volumeMounts:
{{- if .Values.use_case.newNetwork.enabled }}
            - name: genesis-config-persistent-storage
              mountPath: /etc/quorum/genesis/genesis-geth.json
              subPath: genesis-geth.json
{{- end }}
            - name: quorum-nodekey
              mountPath: /etc/quorum/qdata/dd/geth/nodekey
              subPath: nodekey
            - name: quorum-enode
              mountPath: /etc/quorum/qdata/dd/geth/enode
              subPath: enode
      restartPolicy: Never
      volumes:
{{- if .Values.use_case.newNetwork.enabled }}
        - name: genesis-config-persistent-storage
          configMap:
            name: {{ include "quorumNode.Identifier" . }}-genesis-config
            items:
              - key: genesis-geth.json
                path: genesis-geth.json
{{- end }}
        - name: quorum-nodekey
          configMap:
            name: {{ include "quorumNode.Identifier" . }}-nodekey-config
            items:
              - key: nodekey
                path: nodekey
        - name: quorum-enode
          configMap:
            name: {{ include "quorumNode.Identifier" . }}-enode-config
            items:
              - key: enode
                path: enode



{{- end }}




